.button {
  @apply transition-colors;

  font-weight: 500;
  color: var(--text-white);
  background-color: var(--main-accent);
  padding: 8px 12px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.button:hover {
  background-color: var(--secondary-accent);
}

.button__icon {
  width: 16px;
  height: 16px;
  fill: var(--text-white);
  margin-right: 4px;
}

.button--text {
  color: var(--text-main);
  padding: 0;
  background: none;
  border: none;
  width: auto;
  position: relative;
}

.button--text .button__icon {
  fill: var(--text-main);
  margin-bottom: 2px;
}

.button--text:hover {
  background: none;
}

.button--text::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--text-main);
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.button--text:hover::before {
  transform: scaleX(1);
}
