@font-face {
  font-family: "Golos Text";
  src: local("Golos Text Regular"),
    url("../fonts/golos-text_regular.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Golos Text";
  src: local("Golos Text Medium"),
    url("../fonts/golos-text_medium.woff2") format("woff2");
  font-weight: 500;
}

@font-face {
  font-family: "Golos Text";
  src: local("Golos Text SemiBold"),
    url("../fonts/golos-text_demibold.woff2") format("woff2");
  font-weight: 600;
}

@font-face {
  font-family: "Golos Text";
  src: local("Golos Text Bold"),
    url("../fonts/golos-text_bold.woff2") format("woff2");
  font-weight: 700;
}
