:root {
  /* Задний фон */
  --bg-main: #fff;
  --bg-secondary: #eef2f7;
  --bg-hover-main: #f2f2f2;

  /* Текста */
  --text-main: #334155;
  --text-secondary: #9ea6b4;
  --text-white: #fff;

  /* Бордеры */
  --border-standard: #e7ebee;
  --border-secondary: #9ea6b4;
  --border-input: #dadfe5;
  --outline-input: #082f49;

  /* Ссылки */
  --link-color: #1d4ed8;
  --link-hover-color: #3730a3;

  /* Кнопки */
  --main-accent: #4caf50;
  --secondary-accent: #218d1f;
  --main-red: #ef4444;
  --main-red-hover: #dc2626;
  --main-secondary: #9ca3af;
  --main-secondary-hover: #6b7280;

  /* Тени */
  --shadow-standard: 0 6px 12px #11183826, 0 0 1px #00000040;

  /* Размеры */
  --header-height: 64px;
  --menu-width: 128px;
  --height-table-wrapper: calc(100vh - var(--header-height) - 74px - 72px);
}
